//Variables
$horizontal-padding: 100px;
$vertical-padding: 50px;

body{
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    //for background
    background-image: url(https://media.istockphoto.com/photos/glittering-stars-on-bokeh-background-picture-id499515803?k=20&m=499515803&s=612x612&w=0&h=DK0ON1gaWtsxazjDkVocXoYfNt2HsUWHAZKpQ8seKS0=);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}
.center{
    width: fit-content;
    
    padding-left: $horizontal-padding;
    padding-right: $horizontal-padding;
    padding-bottom: $vertical-padding;
    
    border: 3px solid;
    border-radius: 10px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-top: 2%;

    zoom: 1.5;
}

.flex-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;

    .flex-input{
        display: flex;
        gap: 4px;
        
        input{ flex: 8;}
        button{ flex: 1;}
    }
    
    p{
        color: rgba(255, 255, 255, 0.541);
        font-family: 'Courier New', Courier, monospace;
    }
}

/* Cool button pressing
.button{
    border: none;
    background-color: white;
    transition: transform 0.1s ease-out;
    box-shadow: 0 5px 0 rgb(141, 137, 137);
}

.button:active{
    box-shadow: none;
    transform: translateY(5px);
} 
*/


